#events .Speaker-copy{
    font-size: 16px;
}

#events .Speaker-img {
    width: 90px;
    margin-top: 20px;
}

#events .EventCard-copy p:last-of-type{
    margin-bottom: 30px;
}
#events .EventCard-copy .date:last-of-type{
    margin-bottom: 0px;
}

#events .EventCard-copy .date,
#events .EventCard-copy .location{
    font-size: 19px;
    margin-bottom: 30px;
}

#event-card .EventCard-copy p.moreInfo {
    margin-top: 60px;
}