#contact .Contact-footerLogo {
    margin-bottom: 0;
}

#contact ul {
    display: flex;
    padding: 0;
}

#contact ul li{
    list-style: none;
    color: white;
    padding: 10px;
}

#contact ul li:first-of-type,
#contact ul li a:first-of-type {
    padding-left: 0;
}

#contact ul li a{
    color: white;
    padding: 10px;
}